/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
/* 
    Created on : 1-01-2019, 19:08
    Author     : Alberto Goujon
    
    COLORES
    - Cerulean  : #4484CE (Azul)
    - Aluminium : #929292 (Gris)
    - Light     : #F9CF00 (Amarillo)
    - Tangerine : #F19F4D (Naranja)
*/

/*--------------------------------Fuentes-------------------------------------*/
@font-face{
    font-family: "MadeleinaSans";
    src: url("../fonts/Madeleina Sans.otf") format("opentype");
}

@font-face{
    font-family: "CQMono";
    src: url("../fonts/CQ Mono.otf") format("opentype");
}
/*----------------------------------------------------------------------------*/
/*-----------------------------------Para el overflow-------------------------*/
html{
    position: relative;
    min-height: 100%;
    margin-bottom: auto;
}
body
{
    background-color: white;
    font-family: MadeleinaSans;
    overflow-x: hidden;
    margin: 0;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
}
.wrap{
    margin-bottom: auto;
}
/*----------------------------------------------------------------------------*/
/*-----------------------------------Colores----------------------------------*/
.azul
{
    background-color: #4484CE;
}

.gris
{
    background-color: #929292;
}

.amarillo
{
    background-color: #F9CF00;
}

.naranja
{
    background-color: #F19F4D;
}

.blanco
{
    background-color: white;
}

.t-azul
{
    color: #4484CE;
}

.t-gris
{
    color: #929292;
}

.t-amarillo
{
    color: #F9CF00;
}

.t-naranja
{
    color: #F19F4D;
}

/*----------------------------------------------------------------------------*/
.encabezado
{
    display: inline-block;
}

.eslogan
{
    float: left;
    text-align: center;
}

.contenido
{
    margin: 0.1em;
    padding: 1rem;    
    border-top: 2px solid #F19F4D;
}

.separador
{
    align: center;
    size: 50%;
    color: black;
    border-width: 2px;
    border-style: solid;;
}


/*------------------------------Nav bar---------------------------------------*/
.nav-item a img
{
    float: left;
}
/*----------------------------------------------------------------------------*/


/*-------------------------------------Footer---------------------------------*/

.foot
{

    box-sizing: border-box;
    font-size: 15px;
    bottom: 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
}



.copyrights
{
    margin-top:25px;
}

footer.container-fluid.text-center.foot 
{

    background-color: #4484CE;
    bottom: 0;
    width: 100%;
}

.white-txt
{
    color: #FFF;
}

a.link 
{
    color: white;
    padding: 5px;
    text-decoration: none;
}

a.link:hover 
{
    color: white;
}

.foot img
{
    padding-bottom: 1rem;
    width: 5rem;
}
/*----------------------------------------------------------------------------*/
/*-------------------------------BOTON GRIS-----------------------------------*/

.btn-gris { 
    color: #ffffff; 
    background-color: #D9D9D9; 
    border-color: #D9D9D9; 
} 

.btn-gris:hover, 
.btn-gris:focus, 
.btn-gris.active, 
.btn-gris:active, 
.open .dropdown-toggle.btn-gris { 
    color: #ffffff; 
    background-color: #F19F4D; 
    border-color: #F19F4D; 
} 

.btn-gris:active, 
.btn-gris.active, 
.open .dropdown-toggle.btn-gris { 
    background-image: none; 
} 

.btn-gris.disabled, 
.btn-gris[disabled], 
fieldset[disabled] .btn-gris, 
.btn-gris.disabled:hover, 
.btn-gris[disabled]:hover, 
fieldset[disabled] .btn-gris:hover, 
.btn-gris.disabled:focus, 
.btn-gris[disabled]:focus, 
fieldset[disabled] .btn-gris:focus, 
.btn-gris.disabled:active, 
.btn-gris[disabled]:active, 
fieldset[disabled] .btn-gris:active, 
.btn-gris.disabled.active, 
.btn-gris[disabled].active, 
fieldset[disabled] .btn-gris.active { 
    background-color: #F19F4D; 
    border-color: #F19F4D; 
} 

.btn-gris .badge { 
    color: #D9D9D9; 
    background-color: #ffffff; 
}
/*----------------------------------------------------------------------------*/
/*------------------------------Responsive media------------------------------*/
@media (max-width: 992px){

}


@media (max-width: 576px){
    #logo{
        width: 75px;
    }
}

@media (max-width: 400px){
    .eslogan{
        display: none;
    }
}
/*----------------------------------------------------------------------------*/


/*--------------------------------Series mas votadas--------------------------*/
div .seriesvotadas
{
    border-color: #D9D9D9;
    border-style: solid;
    border-width: thin;
}
/*-----------------------------alinear text en un input-----------------------*/
.alinia-derecha
{
    text-align: right
}

/*----------------------------------------------------------------------------*/

/*#left {
  float: left;
  width: 75%;
  overflow-y: hiden;
}

#right {
  float: left;
  overflow-y: scroll;
  width: 25%;
}*/

